{
    "servers":{
        "freenode":{
            "should_see_nicks":["geordi"],
            "host":"irc.freenode.net",
            "port":6697,
            "use_ssl":true,
            "nicks":[
                ["testbotnick1", ""],
                ["testbotnick2", ""]
            ],
            "irc_password":"",
            "channels":[
                "#somechannel1",
                "#somechannel2"
            ]
        },
        "accessirc":{
            "should_see_nicks":[],
            "host":"irc.accessirc.net",
            "port":6667,
            "use_ssl":false,
            "nicks":[
                ["testbotnick1", ""],
                ["testbotnick2", ""]
            ],
            "irc_password":"",
            "channels":[
                "#somechannel1",
                "#somechannel2"
            ]
        }
    },
    "plugins":{
        "artistinfo":{
            "api_key":"???",
            "api_secret":"???"
        },
        "define":{
            "api_key":"???"
        },
        "weather":{
            "client_id":"???",
            "client_secret":"???"
        }
    }
}
